<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/ab1eb97d-6c45-46fb-b387-e340f13c3ebf/v3/index.json" />
  </packageSources>
</configuration>