@page
@using Microsoft.AspNetCore.Mvc.Localization
@using XICommServer.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using XICommServer.Web.Pages.MailEventLogs
@using XICommServer.MailEventLogs;
@using System.Globalization
@inject IHtmlLocalizer<XICommServerResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/MailEventLogs/CreateModal" autocomplete="off">
    <abp-modal id="MailEventLogCreateModal">
        <abp-modal-header title="@L["NewMailEventLog"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="MailEventLog.Timestamp" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>


            <abp-input asp-for="MailEventLog.SmtpId"   />


            <abp-select asp-for="MailEventLog.EventType"   />


            <abp-input asp-for="MailEventLog.Category"   />


            <abp-input asp-for="MailEventLog.SendGridEventId"   />


            <abp-input asp-for="MailEventLog.SendGridMessageId"   />


            <abp-input asp-for="MailEventLog.TLS"   />


            <abp-input asp-for="MailEventLog.MarketingCampainId"   />


            <abp-input asp-for="MailEventLog.MarketingCampainName"   />


            <abp-input asp-for="MailEventLog.IsLogSynced"   />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>